In [1]:
import pandas as pd
from mol_sel_fns import Molecule_Selector

In [2]:
dir = '/users/yhb18174/Recreating_DMTA/datasets/temp/'
file = f'{dir}all_preds_chembl_1.csv.gz'
chosen_mol = f'{dir}chosen_mol.csv.gz'
df = pd.read_csv(file,  index_col='Unnamed: 0')

In [3]:
mol_sel = Molecule_Selector(n_cmpds=10, preds_dir='/users/yhb18174/Recreating_DMTA/datasets/temp/', chosen_mol_file=chosen_mol, iteration=2)

In [4]:
best = mol_sel.best(column='CNN_affinity', ascending=False)
mol_sel.chosen_mol

                Iteration
ID
CHEMBL4169373           1
CHEMBL4066138           2
CHEMBL3787680           2
CHEMBL4092764           2
CHEMBL4074743           2
CHEMBL4093710           2
CHEMBL4070340           2
CHEMBL3590407           2
CHEMBL4083482           2
CHEMBL4097251           2
CHEMBL3785917           2

In [5]:
rndm_best = mol_sel.random_in_best(column='CNN_affinity', ascending=False, frac=0.1)
mol_sel.chosen_mol

                Iteration
ID
CHEMBL4169373           1
CHEMBL4066138           2
CHEMBL3787680           2
CHEMBL4092764           2
CHEMBL4074743           2
CHEMBL4093710           2
CHEMBL4070340           2
CHEMBL3590407           2
CHEMBL4083482           2
CHEMBL4097251           2
CHEMBL3785917           2
CHEMBL3969225           2
CHEMBL3903329           2
CHEMBL4061677           2
CHEMBL4244134           2
CHEMBL3975427           2
CHEMBL4172447           2
CHEMBL4216530           2
CHEMBL4080729           2
CHEMBL4208561           2
CHEMBL3590390           2

In [6]:
rndm = mol_sel.random()
mol_sel.chosen_mol

                Iteration
ID
CHEMBL4169373           1
CHEMBL4066138           2
CHEMBL3787680           2
CHEMBL4092764           2
CHEMBL4074743           2
CHEMBL4093710           2
CHEMBL4070340           2
CHEMBL3590407           2
CHEMBL4083482           2
CHEMBL4097251           2
CHEMBL3785917           2
CHEMBL3969225           2
CHEMBL3903329           2
CHEMBL4061677           2
CHEMBL4244134           2
CHEMBL3975427           2
CHEMBL4172447           2
CHEMBL4216530           2
CHEMBL4080729           2
CHEMBL4208561           2
CHEMBL3590390           2
CHEMBL4171109           2
CHEMBL4084046           2
CHEMBL4217552           2
CHEMBL3785262           2
CHEMBL3814217           2
CHEMBL4062624           2
CHEMBL2335146           2
CHEMBL3590379           2
CHEMBL3906525           2
CHEMBL3780650           2